.container-homepage {
	height: 100vh;
	background: rgb(246,230,180);
	background: -moz-linear-gradient(-45deg, rgb(246,230,180) 0%, rgb(246,230,180) 35%, rgb(237,144,23) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(246,230,180) 0%,rgb(246,230,180) 35%,rgb(237,144,23) 100%);
	background: linear-gradient(135deg, rgb(246,230,180) 0%,rgb(246,230,180) 35%,rgb(237,144,23) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 );
}

.homepage-intro {
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em 0 0 0;
	box-sizing: border-box;
	margin: 0 auto;
}